body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

header {
  background: #222;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
}

.projects {
  padding: 20px;
}

.card {
  background: #222;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

img {
  width: 200px;
}
